{
  "jsc": {
  "target": "es2020",
      "parser": {
        "syntax": "ecmascript",
        "tsx": true,
        "jsx": true
      }
    "experimental": {
      "plugins": [
        [
          "@swc/plugin-styled-components",
          {
            "ssr": true
          }
        ]
      ]
    }
  }
}
